@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  color: #393e46;
  background-color: #eee;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
}

#join-container {
  width: 35%;
  padding: 1rem 3rem;
}

#join-header {
  background-color: #00adb5;
  text-align: center;
  padding: 1rem;
}

#join-form-container {
  width: 75%;
  display: block;
  margin: 0 auto;
}

label {
  display: block;
  padding-top: 0.5rem;
  color: #393e46;
  letter-spacing: 0.025rem;
}

input[type="text"] {
  width: 100%;
  height: 1.5rem;
  margin-bottom: 0.5rem;
  padding-left: 0.5rem;
  font-family: "Roboto", sans-serif;
  border: none;
  color: #eee;
  background-color: #393e46;
  letter-spacing: 0.025rem;
}

input::placeholder {
  color: #eee;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.025rem;
}

input:focus {
  border: none;
  outline: none;
}

select {
  width: 100%;
  height: 1.5rem;
  margin-bottom: 0.5rem;
  padding-left: 0.25rem;
  font-family: "Roboto", sans-serif;
  border: none;
  color: #eee;
  background-color: #393e46;
  letter-spacing: 0.025rem;
}

select:focus {
  border: none;
  outline: none;
}

option {
  letter-spacing: 0.025rem;
}

#join-room-btn {
  width: 50%;
  display: block;
  margin: 0 auto;
  height: 2.5rem;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  border: none;
  color: #393e46;
  font-weight: bold;
  background-color: #00adb5;
  font-family: "Roboto", sans-serif;
}

#join-room-btn:hover {
  scale: 1.03;
}

#join-room-btn:active {
  scale: 0.97;
}

#chat-container {
  width: 65%;
  height: 65%;
}

#chat-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #00adb5;
  padding: 1rem;
}

#chat-header a {
  text-decoration: none;
  width: 7rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #393e46;
  background-color: #eee;
}

#chat-header a:hover {
  scale: 1.03;
}

#chat-header a:active {
  scale: 0.97;
}

#chat-main {
  display: flex;
  height: 75%;
}

#chat-sidebar {
  width: 25%;
  background-color: #393e46;
  color: #eee;
  padding: 0.5rem;
}

#chat-sidebar p {
  font-size: 1.5rem;
}

#chat-sidebar ul {
  padding-top: 0.25rem;
  list-style: none;
}

#chat-messages {
  width: 75%;
  max-height: 100%;
  overflow-y: scroll;
  background-color: #00adb53f;
  padding: 0.5rem;
}

.message {
  opacity: 1;
  background-color: #eee;
  padding: 0.25rem;
  margin: 0.25rem 0.5rem 1.25rem 0.5rem;
  border-radius: 0.35rem;
}

.message .meta {
  font-size: 1rem;
  font-weight: bold;
  color: #393e46;
  margin-bottom: 0.25rem;
}

.message .meta span {
  font-size: 0.75rem;
  color: #393e46;
  opacity: 0.75;
}

.message .text {
  font-size: 1rem;
}

#chat-form-container {
  height: 10%;
}

#chat-form {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 1rem;
}

#chat-form input {
  display: inline;
  width: 80%;
  height: 2rem;
  margin: auto;
}

#msg-send-btn {
  display: inline;
  width: 15%;
  height: 2rem;
  margin: auto;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  border: none;
  color: #393e46;
  background-color: #00adb5;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

#msg-send-btn:hover {
  scale: 1.03;
}

#msg-send-btn:active {
  scale: 0.97;
}
